# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.moc

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# LLVM intermediate files
*.asm
*.s
*.bc
*.dSYM

# Executables
*.exe
*.out
*.out.*
*.app

# Packages
*.dmg
*.deb
TASPaths.app/**
TAS-Paths.app/**
taspaths.app/**
TASPaths/**
TAS-Paths/**
taspaths/**

# Temporary files
tmp/**
build/**
tests/build/**
unittests/build/**
*.pyc
.DS_Store
*.csv
*.1
*.prof
*.swp
local_bindings.txt

# Temporary tex files
*.log
*.aux
*.pdf
*.synctex.*
*.toc
*.bbl
*.blg
*.fls
*.fdb_latexmk

# Archives
*.tar.gz
*.tar.bz2
*.tar.xz
*.zip

# Pictures
*.jpg
*.png
*.pdf
*.svg
*.icns
*.ico
*.dot
!res/taspaths.svg

# Libraries
tlibs2
tlibs2/**
externals
externals/**
qcustomplot
qcustomplot/**

# Directories
3rdparty_licenses/**
res/doc/**
res/dev_doc/**
