# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.moc

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# LLVM intermediate files
*.asm
*.s
*.bc
*.dSYM

# Executables
*.exe
*.out
*.app

# Packages
*.dmg
*.deb
TASPaths.app/**
TASPaths/**

# Temporary files
tmp/**
build/**
tests/build/**
unittests/build/**
*.pyc
.DS_Store
*.csv
*.1

# Temporary tex files
*.log
*.aux
*.pdf
*.synctex.*
*.toc
*.bbl
*.blg
*.fls
*.fdb_latexmk

# Archives
*.tar.gz
*.tar.bz2
*.tar.xz
*.zip

# Pictures
*.jpg
*.png
*.pdf
*.svg

# Libraries
tlibs2
tlibs2/**
qcustomplot
qcustomplot/**
