<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<!-- see: https://developer.apple.com/documentation/bundleresources/information_property_list/ -->

<plist version="1.0">
  <dict>
    <key>CFBundleName</key>                <string>TAS-Paths</string>
    <key>CFBundleDisplayName</key>         <string>TAS-Paths</string>
    <key>CFBundleIdentifier</key>          <string>eu.ill.cs.takin.taspaths-hull</string>

    <key>CFBundleVersion</key>             <string>1440</string>
    <key>CFBundleShortVersionString</key>  <string>1.4.4</string>
    <key>CFBundleIconFile</key>            <string>taspaths.icns</string>

    <key>CFBundleSupportedPlatforms</key>  <array> <string>MacOSX</string> </array>
    <key>LSMinimumSystemVersion</key>      <string>11.0</string>
  </dict>
</plist>
