[Desktop Entry]
	Name=TAS-Paths
	GenericName=TAS-Paths
	Comment=Triple-Axis Pathfinding Software
	Exec=/usr/local/bin/taspaths
	Type=Application
	Terminal=false
	StartupNotify=false
	Categories=Science
	Icon=/usr/local/share/taspaths/res/taspaths.svg
