[Desktop Entry]
	Name=TAS-Paths
	GenericName=TAS-Paths
	Comment=Triple-Axis Pathfinding Software
	Exec=/usr/bin/env LD_LIBRARY_PATH=/usr/local/lib:${LD_LIBRARY_PATH} /usr/local/bin/taspaths
	Type=Application
	Terminal=false
	StartupNotify=false
	Categories=Education;Science;Application
	Icon=/usr/local/share/taspaths/res/taspaths.svg
